@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap');

/* CSS VARIABLES*/
:root {
  --color-accent: #2c83b0;
  --color-grey: #acacac;
  --color-light-gray: #f6f6f6;
  --color-white: #ffffff;
  --color-dark-gray: #111213;
  --color-black: #0f0f0f;
  --color-social-icon: #2b2d2f;

  --font-size-small: 1.2rem;
  --font-size-regular: 1.4rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.2rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-regular: 1.5;
  --line-height-large: 2;

  --letter-spacing-small: 0.1em;
  --letter-spacing-regular: 0.15em;
  --letter-spacing-large: 0.2em;
}

/* -------- SIMPLE RESET ------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: 'PT Serif', Helvetica, Arial, Verdana, Tahoma;
}

article,
section,
main,
div,
figure,
img,
aside,
footer,
ul,
li,
a {
  padding: 0;
  margin: 0;
}
html {
  /* This define what 1rem is */
  /* 10px/16pc = 62,5% --> 1rem = 10px; */
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

button,
a:link,
a:visited,
a:hover,
a:active {
  cursor: pointer;
  color: var(--color-white);
  font-size: var(--font-size-medium);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
}
/* ------------------------------------- */

body {
  font-weight: var(--font-weight-regular);
  color: var(--color-dark-gray);
}

h1,
h2,
h3,
h4,
h5 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
}

h4,
h5 {
  color: var(--color-white);
}

h5 {
  font-size: var(--font-size-regular);
}

p,
address p a:link {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
}

/* ------------- BUTTONS ------------------ */

.button {
  background-color: var(--color-accent);
  padding: 0.5rem 2rem;
  opacity: 0.8;
}
.button:hover {
  opacity: 1;
}

.button--mod {
  background-color: var(--color-grey);
  padding: 0.22rem 1rem;
}
.button--mod:hover {
  background-color: var(--color-accent);
}

/* ------------- NAV ------------------ */

.nav__container {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 4rem;
  padding: 0;
  background-color: #111111;
  background: linear-gradient(135deg, #111111 0%, #292a2b 100%);
}
.logo {
  display: grid;
  align-content: center;
  padding: 0 3rem;
}
.logo__img {
  max-width: 10rem;
}

.nav__grid {
  display: none;
}
.search__container {
  grid-row-start: 2;
  padding-top: 2rem;
}
.button__search {
  border-radius: 50%;
  margin-left: 1rem;
  padding: 0rem;
  width: 3rem;
  height: 3rem;
}
.icon__search {
  height: 1rem;
}

.input {
  background-color: var(--color-white);
  width: 100px;
  height: 2.5rem;
  border: 2px solid var(--color-grey);
}
.input:focus {
  border: 2px solid var(--color-accent);
}

.nav__items__container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  padding-top: 30%;
  text-align: center;
}

/* --------- NAV -- BURGER ------------ */

.nav__btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav__btn > label {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  padding: 1.4rem 0.8rem;
  cursor: pointer;
}

.nav__btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 1px solid var(--color-white);
}
.open {
  display: inline-block;
  display: grid;
  grid-template-rows: max-content max-content;
  padding-top: 4rem;
  background: linear-gradient(135deg, #111111 0%, #292a2b 100%);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;
  grid-gap: 5rem;
}
/* ------------- HEADER ------------------ */

.header {
  display: grid;
}
.header__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.slider__buttons__container {
  margin-top: -6rem;
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  grid-gap: 1rem;
  padding: 0.5rem;
}

.slide__img__container {
  width: 100%;
  max-height: 70vh;
}
.slide__img {
  width: 100%;
  object-fit: contain;
}
.button__arrow {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--color-accent);
  background-color: var(--color-light-gray);
}

.button__arrow:hover {
  color: var(--color-light-gray);
  background-color: var(--color-accent);
}
.header__section {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  align-content: center;
  padding: 2rem 3rem;
  grid-gap: 2rem;
}

.icons__wrapper {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

.icon__container {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-social-icon);
  border-radius: 50%;
}
.icon__container:hover {
  background-color: var(--color-accent);
}

.icon {
  height: 100%;
  width: 100%;
  padding: 25%;
}
/* ------------- MAIN ------------------ */

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'posts'
    'aside'
    'sponsors';
  background-color: var(--color-white);
}
.section__posts {
  grid-area: posts;
  background-color: var(--color-white);
  align-content: center;
  justify-content: center;
  padding: 3rem;
}
.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.post__img {
  width: 100%;
  border: 0.5rem solid var(--color-light-gray);
}
.post__subheading {
  color: var(--color-accent);
}
.seeMore {
  display: none;
}
.posts__buttons__container {
  padding-top: 2rem;
}

.section__sponsors {
  grid-area: sponsors;
  padding: 3rem;
}
.img__sponsor {
  max-height: 12rem;
  margin: 0rem 1rem 1rem 0rem;
  border: 0.5rem solid var(--color-light-gray);
}

.aside {
  grid-area: aside;
  padding: 3rem 3rem 0 3rem;
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 100%);
}

.aside__section {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}

.aside a {
  color: var(--color-accent);
}

/* ------------- FOOTER------------------ */

.footer {
  color: var(--color-grey);
  background-color: var(--color-black);
}
address p a:link {
  color: var(--color-grey);
}
/* ------------- MEDIA QUERIES ------------------ */

@media only screen and (min-width: 375px) {
  .logo__img {
    max-width: 15rem;
  }
  .icon__container {
    width: 4em;
    height: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: var(--font-size-large);
  }
  h5 {
    font-size: var(--font-size-medium);
  }
  .logo__img {
    max-width: 20rem;
  }
  .icon__container {
    width: 5rem;
    height: 5rem;
  }

  .button__arrow {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 3rem;
  }
  .nav__grid {
    display: grid;
    gap: 2rem;
    justify-items: end;
  }
  .nav__items__container {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-template-rows: 1fr;
    gap: 2rem;
    padding-top: 0;
  }
  #nav__check,
  .nav__btn {
    display: none;
  }

  .search__container {
    grid-row-start: 1;
    padding-top: 0rem;
  }

  .logo {
    display: grid;
    align-content: end;
  }
  .logo__img {
    max-width: 30rem;
  }

  .header__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 15rem;
    grid-gap: 5rem;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'posts posts posts aside'
      'sponsors sponsors sponsors sponsors';
  }
  .post {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
  }
}
